<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">You have a alarm!!!</h1>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <div class="item">
          <span class="input-label">Snooze Time: </span>
          <div class="button-bar">
            <a class="button button-positive" ng-click="Snooze(10)">10 Minutes</a>
            <a class="button button-positive" ng-click="Snooze(20)">20 Minutes</a>
            <a class="button button-positive" ng-click="Snooze(30)">30 Minutes</a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
